<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey Index</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'survey/css/index_style.css' %}" media="screen" title="no title"  charset="utf-8">
    <!-- <link rel="stylesheet" style="text/css" href="style.css"> -->
</head>
<body>
    <div id="wrapper">
        <form action="/process" method="post">
            {% csrf_token %}
            <p class="para1">Your Name: </p><input class="inputs" type="text" name="name">
            <p class="para1">Dojo Location: </p>
            <select class="inputs" name="location" id="locations">
                    <option value="Seattle">Seattle</option>
                    <option value="LosAngeles">LosAngeles</option>
                    <option value="San Jose">San Jose</option>
            </select>
            <p class="para1">Favorite Language: </p> 
            <select class="inputs" name="lang" id="languages">
                    <option value="Python">Python</option>    
                    <option value="MEAN">MEAN</option>    
                    <option value="iOS">iOS</option>    
            </select>
            <p id="optional" class="para1">Comment (optional):</p>
            <input id="comment" type="text" name="comment">
            <input id="button" type="submit" value="Submit">
        </form>
    </div>
</body>
</html>